<div style="margin-top: 7%">
  <table class="table table-bordered text-center">
    <thead>
    <tr>
      <th>Nom du pilote</th>
      <th>Poids du pilote</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let driver of drivers">
      <td>
        <input class="form-control" type="text" [(ngModel)]="driver.name" placeholder="Nom du pilote">
      </td>
      <td>
        <input class="form-control" type="text" [(ngModel)]="driver.weight" placeholder="Poids du pilote">
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="alignCenter">
  <button type="button" mdbBtn class="relative waves-light btn-dark" (click)="basicModal.show()" (click)="showList()" mdbWavesEffect>Valider</button>
</div>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog-centered modal-changement" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Lestage</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="showListBoolean">
          <app-gasolinearray></app-gasolinearray>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Fermer</button>
      </div>
    </div>
  </div>
</div>





